<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core.js"></script>
</head>
<body>
<main role="main" class="container">

    <label id="poke_count"></label>

    <table id="poke_table">
        <thead>
        <tr id="poke_names">
        </tr>
        </thead>
        <tfoot>
        <tr id="poke_description">
        </tr>
        </tfoot>
    </table>
    <br/>

    <div id="navigator" style="display: none;">
        <button id="back_navigator">Back</button>
        <label id="current_page"></label>
        <button id="next_navigator">Next</button>
    </div>

</main>
</body>
</html>